@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Quản trị hệ thống</h4>
    </div>
</div>
<div class="row">
</div>