@using ShopOrder.Entities
@model TDONHANG
@{
    ViewBag.Title = "Thông tin thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TDONHANG tDONHANG = Model;
    if (tDONHANG == null)
    {
        return;
    }
}

<div class="row p-all-10 m-b-10 justify-content-center">
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-center">
                <p>THANH TOÁN ĐƠN HÀNG</p>
            </div>
        </div>

        <div class="card-body">
            <div class="row justify-content-center">
                <img src="@tDONHANG.TMPCODE" height="600" width="500"/>
            </div>
        </div>
    </div>
</div>

<script>
    var boDemThoiGian;
    $(document).ready(function () {
        boDemThoiGian = setInterval(KiemTraThanhToan, 3000);
    });

    function KiemTraThanhToan() {
        $.post("/QuanLyDonHang/KiemTraThanhToan/@tDONHANG.ID", null, function (data) {
            if (data == 'ok') {
                clearInterval(boDemThoiGian);
                UiUtils.ShowSuccess("", "Thanh toán thành công", function () {
                    window.location.href = "/Cart";
                });
            } else { }
        });
    }
</script>