@using ShopOrder.Entities
@model Dictionary<DTRANGTHAIDON, int>
@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;

    if (Model.Values.Sum() == 0)
    {
        <hr />
        <div class="container">
            <div class="row">
                <div class="w-100" style="height: 300px;">
                    <div class="alert alert-danger w-100 text-center" role="alert">
                        <h3>Danh sách đơn hàng trống</h3>
                    </div>
                </div>
            </div>
        </div>
        return;
    }
}

<div class="row p-all-30">
    @{
        foreach (DTRANGTHAIDON item in Model.Keys)
        {
            <a href="/QuanLyDonHang/DanhSach/@item.ID" class="card col-12 col-md-3 hov-btn2 pointer icon-header-noti-25" style="background-color: antiquewhite;" data-notify="@Model[item]">
                <div class="card-body row justify-content-center">
                    <p>@item.NAME</p>
                </div>
            </a>
        }
    }
</div>