@model ShopOrder.Entities.DPHANLOAI
@{
    ViewBag.Title = "Danh mục phân loại";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h3>Xóa dữ liệu đang chọn?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Danh sách", "Index")|
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </div>
    }
</div>
