@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>Đổi mật khẩu</h3>
            </div>
            <form method="post">
                <input type="text" name="ID" value="@ViewBag.ID" hidden>
                <input type="text" name="ID" value="@ViewBag.KhachHang" hidden>
                <div class="form-group">
                    <label for="ipPASSWORD">Mật khẩu cũ</label>
                    <input type="password" class="form-control" id="ipOLDPASSWORD" name="oldPassword" placeholder="Mật khẩu cũ" required>
                </div>
                <div class="form-group">
                    <label for="ipPASSWORD">Mật khẩu</label>
                    <input type="password" class="form-control" id="ipPASSWORD" name="password" placeholder="Mật khẩu" required>
                </div>
                <div class="form-group">
                    <label for="ipCFPASSWORD">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="ipCFPASSWORD" name="confirmPassword" placeholder="Nhập lại mật khẩu" required>
                </div>
                <button type="submit" class="btn btn-primary">Lưu dữ liệu</button>
            </form>
        </div>
    </div>
</div>