@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}
<form method="post" class="splash-container">
    <input type="text" name="parentId" value="@ViewBag.phone" style="display: none;">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">Đăng ký tài khoản</h3>
            <p>Nhập thông tin của bạn để đăng ký</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="ipUSERNAME">Tài khoản</label>
                <input id="ipUSERNAME" class="form-control form-control-lg" type="text" name="USERNAME" placeholder="Nhập tên tài khoản" autocomplete="off" value="@ViewBag.username" required>
                <small class="form-text text-muted">Tài khoản viết liền không dấu</small>
            </div>
            <div class="form-group">
                <label for="ipNAME">Tên người dùng</label>
                <input id="ipNAME" class="form-control form-control-lg" type="text" name="NAME" placeholder="Nhập tên người dùng" autocomplete="off" value="@ViewBag.name" required>
            </div>
            <div class="form-group">
                <label for="ipPHONE">Điện thoại</label>
                <input id="ipPHONE" class="form-control form-control-lg" type="text" name="PHONE" placeholder="Nhập số điện thoại" autocomplete="off" value="@ViewBag.phone" required>
            </div>
            <div class="form-group">
                <label for="ipPASSWORD">Mật khẩu</label>
                <input id="ipPASSWORD" class="form-control form-control-lg" type="password" name="PASSWORD" placeholder="Nhập mật khẩu" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="ipCFPASSWORD">Nhập lại mật khẩu</label>
                <input id="ipCFPASSWORD" class="form-control form-control-lg" type="password" name="CONFIRMPASSWORD" placeholder="Xác nhận mật khẩu" autocomplete="off" required>
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit">Đăng ký tài khoản</button>
            </div>
            @*<div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label">By creating an account, you agree the <a href="#">terms and conditions</a></span>
                    </label>
                </div>
                <div class="form-group row pt-0">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <button class="btn btn-block btn-social btn-facebook " type="button">Facebook</button>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <button class="btn  btn-block btn-social btn-twitter" type="button">Twitter</button>
                    </div>
                </div>*@
        </div>
        <div class="card-footer bg-white">
            <p>Bạn đã có tài khoản? <a href="/User/Login" class="text-secondary">Đăng nhập ở đây</a></p>
        </div>
    </div>
</form>