<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/Admin/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Admin/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link href="~/Content/Admin/assets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/Shop/vendor/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Shop/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/css/util.css">

    <script src="~/Content/Admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Shop/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/lib.js"></script>
</head>
<body>
    <!-- main wrapper -->
    <div class="dashboard-main-wrapper">
        @{
            Html.RenderAction("NavbarAdminUi", "Admin");
        }
        <!-- end navbar -->
        <!-- left sidebar -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Danh mục</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/size">Danh mục size</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/nhommathang">Danh mục nhóm hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/phanloai">Danh mục phân loại</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/dang">Danh mục dáng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/mau">Danh mục màu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/thoigianmathang">Danh mục thời gian đặt</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/mathang">Danh mục mặt hàng</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Bán hàng</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/nhaxe">Danh mục nhà xe</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/trangthaidonhang">Danh mục trạng thái đơn</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/quanlydonhang">Quản lý đặt hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/quanlydongiao">Quản lý đơn giao</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Khách hàng</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/nhomkhachhang">Danh mục nhóm khách</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/khachhang">Danh mục khách hàng</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-user-circle"></i>Nhân sự</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/nhanvien">Danh sách nhân viên</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-table"></i>Kho hàng</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/quanlynhapkho">Phiếu nhập kho</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Tồn kho</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-th-large"></i>Cấu hình hệ thống</a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/cauhinhtrangthai">Trạng thái</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/cauhinhthongbao">Thông báo đến khách</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/cauhinhthongtin">Thông tin đến khách</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/cauhinhcuoitrang">Cuối trang</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/cauhinhghtk">Thông tin giao hàng tiết kiệm</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end left sidebar -->
        <!-- wrapper  -->
        <div class="dashboard-wrapper">
            <div class="modal-body no-padding">
                <div class="row">
                    <div class="col-12">
                        @{
                            if (ViewBag.errorMessage != null && ViewBag.errorMessage.Length > 0)
                            {
                                <div class="p-3 mb-2 bg-danger text-white">@ViewBag.errorMessage</div>
                            }
                        }
                    </div>
                </div>

                @RenderBody()

                <!-- footer -->
                @*<div class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="text-md-right footer-links d-none d-sm-block">
                                        <a href="javascript: void(0);">About</a>
                                        <a href="javascript: void(0);">Support</a>
                                        <a href="javascript: void(0);">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- end footer -->
            </div>
        </div>
        <!-- end main wrapper -->
    </div>

    @*<script src="~/Content/Admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>*@
    <script src="~/Content/Admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/Admin/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Content/Admin/assets/vendor/datepicker/moment.js"></script>
    <script src="~/Content/Admin/assets/vendor/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/Content/Shop/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/assets/libs/js/main-js.js"></script>
</body>
</html>